@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
/* @import "tw-animate-css"; */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

@layer components {
  .container {
    margin-inline: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  .hedFont{
    font-family: "DM Sans", sans-serif;
  }
  .textFont{
 font-family: "Lora", serif;
  }
}
.round{
  border-radius: 50% 50% 3% 3% ;
}

/* SigninPopup css */

.login-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  display: grid;
  z-index: 3;
}

.login-popup-container {
  place-self: center;
  width: max(23vw, 330px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 1s;
}

.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.login-popup-title img {
  width: 16px;
  cursor: pointer;
}

.login-popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-popup-inputs input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 5px;
}

.login-popup-condition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -15px;
}

.login-popup-condition input {
  margin-top: 5px;
}
.login-popup p span {
  color: #4b2f3f;
  font-weight: 500;
  cursor: pointer;
}
/* Choose Best Product section */
.chooseBestBg{
  background:linear-gradient(rgba(0,0,0,0.3)), url(../src/assets/Banner-4.png);
  background-size: cover;
  width: 100%;
  aspect-ratio: 3/1;
  background-position: center;
  background-repeat: no-repeat;
}

/* Swiper */
swiper {
  width: 100%;
  height: 100%;
}

.reviewsImage{
  border-radius: 50% 50% 50% 0 ;
}

/* Place Order Page css */
.place-order {
  align-items: start;
  justify-content: space-between;
  gap: 50px;
  /* margin-top: 100px; */
}

.place-order-left {
  width: 100%;
  max-width: max(30%, 500px);
}

.title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}

.place-order-left input {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  outline-color: #ffe040;
}

.place-order-left .multi-fields {
  display: flex;
  gap: 10px;
}

.place-order-right {
  width: 100%;
  max-width: max(40%, 500px);
}

.place-order .cart-total button {
  margin-top: 30px;
}
.cart-total-details{
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-total hr{
margin-block:10px;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/* Admin Style*/
:root {
  --main-bg: #FAFBFB;
  --main-dark-bg: #20232A;
  --secondary-dark-bg: #33373E;
  --light-gray: #F7F7F7;
  --half-transparent: rgba(0, 0, 0, 0.5);
  --color-default: rgba(0, 0, 0, 0.1);
}

.dark {
  --main-bg: #181818;
  --main-dark-bg: #121212;
  --secondary-dark-bg: #1d1d1d;
  --light-gray: #D1D5DB;
  --half-transparent: rgba(255, 255, 255, 0.5);
  --color-default: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--main-bg);
}

.sidebar {
  /* background-color: var(--main-dark-bg); */
}

/* button {
  background-color: var(--main-dark-bg);
  color: var(--light-gray);
} */

/* button:hover {
  background-color: var(--secondary-dark-bg);
} */
.dark .sidebar {
  background-color: var(--secondary-dark-bg);
  color: var(--light-gray)
}

.dark .content-area {
  background-color: var(--main-dark-bg);
  color: var(--light-gray);
}

#preview{
  background: transparent url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png') no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width:300px;
  max-width: 600px;
  background-color: #008000;
}

/* Loading */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    